

 <div class="container" fxLayout="column" fxLayoutGap="10px">

<div  fxFlex>
	<div>
		<h3>Menu</h3>
	</div>
</div> 	
<div fxFlex *ngIf="dishs">
	<mat-grid-list cols="2" rowHeight="200px">
	<mat-grid-tile *ngFor="let dish of dishs" [routerLink]="['/dishDetails',dish.id]" appHighlight>
		 <img height="200px" src="{{baseURL+dish.image}}" alt={{dish.name}} [@expand]/>
		 <mat-grid-tile-footer>
		<h1 matLine>{{dishs.name|uppercase}}</h1>
		<!-- <span>{{dish.description}}</span>  -->
	</mat-grid-tile-footer>
	</mat-grid-tile>
	</mat-grid-list>
</div>
<div [hidden]="dishs">
	<mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div [hidden]="dishes || errMsg">
  </div>
  <div fxFlex *ngIf="errMsg">
    <h2>Error</h2>
    <h4>{{errMsg}}</h4>
  </div>


	<!-- <div fxFlex *ngIf="selectedDish">
		<mat-card>
			<mat-card-header>
				<mat-card-title><h3>
					{{selectedDish.name|uppercase}}
				</h3>
				</mat-card-title>
				<img mat-card-image src={{selectedDish.image}} alt={{selectedDish.name}}/>
			</mat-card-header>
			<mat-card-content>
				<p>{{selectedDish.description}}</p>
			</mat-card-content>
			<button mat-button>LIKE</button>
			<button mat-button>SHARE</button>
		</mat-card>
	</div>




 -->