<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">
<p mat-line *ngIf="errMss">
  {{errMss}}
</p>
<mat-card *ngIf="dish"  fxFlex="30" [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{dish.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{baseURL+dish.image}}" alt={{dish.name}}> 
  <mat-card-content>
    <p>{{dish.description}}
    </p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="promotion_F" fxFlex="30" [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{promotion_F.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{baseURL+promotion_F.image}}" alt={{promotion_F.name}}>
  <mat-card-content>
    <p>{{promotion_F.description}}
    </p>
  </mat-card-content>
</mat-card>
 <div [hidden]="dish">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>


      <mat-card *ngIf="H_lead" fxFlex="30" [@expand]>
  <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
      <h3>{{H_lead.name | uppercase}}</h3>
    </mat-card-title>
  </mat-card-header>

  <img mat-card-image src="{{baseURL+H_lead.image}}" alt={{H_lead.name}}>
  <p matline>{{H_lead.designation}}</p>
  <mat-card-content>
    {{H_lead.description}}
    
  </mat-card-content>
</mat-card>
<div [hidden]="H_lead">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
</div>