<div class="container" >

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>

      <mat-card >
         <mat-card-title>{{dish.name|uppercase }}</mat-card-title>  
         <img mat-card-image src="{{baseURL+dish.image}}" alt="{{dish.name}}"/>
         <mat-card-content>{{dish.description}}</mat-card-content>
         <mat-card-footer>
          <mat-card-actions>
          <button mat-button [routerLink]="['/dishDetails', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
            <button mat-button> LIKE</button>
            <button mat-button> SHARE</button>
            <button mat-button (click)="goBack()">BACK</button>
            <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishDetails', next]">
          <span class="fa fa-chevron-right fa-lg"></span></button>
         </mat-card-actions>
         </mat-card-footer>
      </mat-card>
    </div>
    <div [hidden]="dish">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
    <div fxFlex="50" *ngIf="dishcopy" [@visibility]="visibility" [@expand]>
      <mat-card >
        <h3 mat-line>Comments</h3>
        <br/>
        <mat-list *ngFor='let comments of dishcopy.comments'>
       <mat-list-item >
         <mat-card-content>
          <p>{{comments.comment}} </p> 

          <p mat-line>Ratings:{{comments.rating}}</p>

            <p mat-line> By --{{comments.author}} ({{comments.date|date}})</p>
             
        
           </mat-card-content> 
         
        </mat-list-item> 
        <br/>
         <hr>
            <br/>
          
         </mat-list> 

         
       </mat-card>

      
       
         
       
          
          
        
        <hr>
           <br/>
         


       <form novalidate [formGroup]="comments_Form" *ngIf="dishcopy" (ngSubmit)="onSubmit()">

      
            
        <P><mat-form-field class="half-width" fxFlex="40" appearance="fill">
          <input matInput formControlName="author" placeholder="Name" type="text"  required> 
          <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>  
        </mat-form-field>
</P>

<p>
        <mat-form-field class="half-width" fxFlex="40" appearance="fill">
          <textarea matInput formControlName="comment" placeholder="comments" required></textarea> 
           <mat-error *ngIf="formErrors.comments">{{formErrors.comments}}</mat-error> 
        </mat-form-field>
      </p>


      

    <!-- <mat-slider thumbLabel value="5" min="0" value="5" max="5" step="1" formControlName="rating" tickInterval="1"   
                                                            [displayWith]="formatLabel"> </mat-slider> -->
     
    <h2 class="example-h2">rating:
      <br/>
      <mat-slider min="0" thumbLabel max="5"  step="1" tickInterval="1" formControlName="rating" 
                                                            [displayWith]="formatLabel" required></mat-slider>
       
</h2>
  
        <button mat-stroked-button type="submit" color="primary" [disabled]="!comments_Form.valid"   >submit</button>

    </form>

   </div>
      <div [hidden]="dish">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
   
    
    

</div>
